body {
    background-color: #f6f6f6;
}

.header-title {
    width: 1190px;
    margin: 100px auto 20px;
}

.header-title div {
    width: 60px;
    padding: 5px;
    background: #fff;
    text-align: center;
    border-radius: 5px;
}

/* 书架内容部分开始 */
.item-all {
    display: flex;
    flex-wrap: wrap;
    width: 1190px;
    margin: 0 auto;
}

.item-all a {
    color: #000000;
}

.item-all a:hover {
    color: #ff5e009b;
}

.item-self {
    display: flex;
    margin: 10px 15px 10px 0;
    padding-top: 32px;
    width: 220px;
    height: 220px;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    background: #fff;
}

.item-self:hover {
    background-color: #efeded;
}

.item-img img {
    display: block;
    width: 100px;
    height: 130px;
    border-radius: 5px;
}

.item-title {
    margin: 20px 0;
    font-size: 18px;
    font-weight: 500;
}

.item-progress {
    font-size: 14px;
    color: rgba(43, 27, 27, 0.4);
}

/* 书架空显示 */
.item-empty {
    width: 1190px;
    height: 800px;
    margin: 0 auto;
    line-height: 800px;
    letter-spacing: 25px;
    text-align: center;
    background-color: #fff;
    font-size: 20px;
    border-radius: 10px;
    color: #d6a05f;
}