body {
    background: #cfc7c22d;
}

/* 搜索栏开始 */
.muye-search {
    width: 1200px;
    margin: 0 auto;
    padding: 30px;
    background: #fff;
}

.muye-search-content {
    display: flex;
    width: 510px;
    height: 40px;
    align-items: center;
    margin: 0 auto;
    border: 1px solid #9999995a;
    border-radius: 20px 20px;
}

.search-item {
    margin-left: 15px;
}

#use-input {
    display: block;
    width: 390px;
    margin-left: 15px;
    font-size: 18px;
    background-color: transparent;

    border: none;
    outline: none;
}

#use-input::placeholder {
    font-size: 13px;
}

.search-button {
    display: block;
    width: 75px;
    height: 40px;
    background: #ff5e00ca;
    border-radius: 0 20px 20px 0;
    font-size: 18px;
    color: #fff;
    border: none;
    cursor: pointer;
}

/* 搜索栏结束 */


/* 搜索内容开始 */
/* 导航部分 */
.nav-content {
    width: 1100px;
    margin: 30px auto;
    border-bottom: #99999968 1px solid;

    .filter-nav {
        display: flex;
        align-items: center;
    }
}

.nav-content li {
    margin: 20px;
    font-size: 14px;
}

.nav-content a {
    color: #000;
}

body .checked {
    display: inline-block;
    padding: 0 5px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    background-color: #ff5e003e;
    border-radius: 10px;
    color: #ff5f00;
}

/* 内容 */
.muye-search-book-list {
    display: flex;
    width: 1100px;
    margin: 20px auto;
    flex-wrap: wrap;
    align-content: space-between;
    font-size: 15px;
    color: rgba(0, 0, 0, .4);
}

.item-self {
    display: flex;
    width: 100%;
    padding: 30px 20px;
    box-sizing: border-box;
    border-bottom: #99999968 1px solid;
}

.item-img {
    display: block;
    width: 140px;
    height: 180px;
}

.item-self img {
    width: 140px;
    height: 180px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 0px #999999;
}

/* 右侧 */
.item-intro {
    margin-left: 30px;
}

.item-desc {
    margin-top: 15px;
}

.item-author,
.chapter {
    margin-right: 30px;
}


h2 .item-title {
    color: #000;
    font-size: 18px;
}

.item-author,
.intro-content,
.chapter a {
    color: rgba(0, 0, 0, .4);
}

.chapter a:hover {
    color: #ff5f00;
}

.intro-content {
    width: 700px;
    height: 45px;
    margin-bottom: 30px;
    line-height: 24px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* 操作 */
.join-container {
    display: flex;
    width: 180px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.join-container a {
    display: block;
    margin: 30px;
    color: #ff5e00dc;
}